
/* CSS for All */
body{
    background-image: url('images/background.jpg');
}
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.main_{
    background-color: aliceblue;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.content_main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main_ hr{
    width:40%;
    margin: 5px auto;
    color: black;
    border-width: 2px;
    margin-bottom: 10px;
}
/*end of CSS for All*/

/* Home page */

/* CSS for header */
.sheader{
    display: none;
}
.header{
    width:100%;
    text-align: center;
    margin-bottom: 0;
    padding: 20px;
    color: #f1f1f1;
}
.header h1{
    font-weight: bold;
}
/* end of CSS for header */

/* CSS for navigation bar*/
.navbar{
    background-color: aliceblue;
    height:80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.navbar> div {
    background-color: #f1f1f1;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    padding: 20px;
    width: 100px;
    text-align: center;

  }
  @media screen and (max-width: 500px) {
    .navbar{
        height: fit-content;
        display: none;
    }
    .navbar> div {
        width:100%;
    }
    .header {
        display:none;
    }
    .sheader{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width:100%;
        /* margin-bottom: 10px; */
        padding: 10px;
        background-color: aliceblue;
    }
    .sheader a{
        padding: 5px;
        background-color: rgb(248, 248, 248);
        border: 1px solid silver;
    }
  }
  @media screen and (min-width: 501px) {
    .navbar{
        display: flex;
    }
  }
/* end of CSS for navigation bar*/

/* CSS for images section */
#img{
    display: block;
    width:95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
}
#text{
    text-align: center;
}
#text h1{
    color: rgb(24, 2, 2);
}
/* end of CSS for images section */

/* CSS for main section */
/* .main{
    width:80%;
    margin: 20px auto;
    background-color: aliceblue;
}
.main p{
    text-align: center;
    padding-top: 20px;
} */
/* .main_container{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
} */
/* .main_container div{
    padding: 5px;
} */
.ileft{
    width:60%;
}
.iright{
    width:30%;
}
/* end of CSS for main section */

/* blog page */

/* CSS for main section */
.main_blog{
    text-align: center;
}
.main_blog >a{
    background-color: #f1f1f1;
    border: 1px solid rgb(82, 80, 80);
    padding: 5px;
    margin-bottom: 10px;
    font-family: bold;
}
.main_blog>hr{
    margin-top: 20px;
}
.main_blog img{
    display: block;
    width:95%;
    margin-left: auto;
    margin-right: auto;
}
.blog h2{
    text-transform: uppercase;
}
.button{
    padding: 10px;
}

.old_new{
    height: 100px;
    display: flex;
    justify-content: space-between;
  
}
.but{
    padding: 10px;
    height:fit-content;
    margin: auto 10px;
    border-radius: 12px;
    background-color:white;
    border: 1px solid rgb(44, 44, 143);
    color: rgb(13, 79, 136);
}
/* end of CSS for main section */

/* CSS for Social */
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* CSS for footer */
.foot{
    background-color: aliceblue;
    margin-top: 5px;
}

/* CSSS for Register page */
/* CSSS for Register page */
.register_form {
    margin-top: 10px;
    font-weight: bold;
}
.register_form h3{
    text-align: center;
}
.cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cont div{
    padding: 10px;
}
.cont div input{
    text-indent: 10px;
}
#p{
    width:100%;
}
#p input{
    width:100%;
    background-color: #f1f1f1;
}
.submit{
    padding: 10px;
}

/* CSS for login */
.login_form {
    background-color: aliceblue;
    width: 70%;
    margin: 0px auto;
    padding: 20px;
    margin-top: 10px;
    font-weight: bold;
}
.login_form h3{
    text-align: center;
}
.warning{
    background-color: rgb(237, 143, 143);
    color: rgb(133, 20, 20);
    border: 1px solid rgb(133, 20, 20);
    padding: 10px;
}

.success{
    background-color: green;
    color: rgb(6, 50, 40);
    border: 1px solid rgb(40, 211, 18);
    padding: 10px;
}

.login_form hr{
    width:40%;
    margin: 5px auto;
    color: black;
    border-width: 2px;
    margin-bottom: 10px;
}
.login_form form div, .login_form > form > input{
    margin: 10px;
}
.login_form form a{
    background-color: rgb(233, 230, 230);
    border: 1px solid gray;
    padding: 10px;
    margin: 20px;
    color: gray;
}

 /* contact page */
  /* CSS for map */
.main_ h3{
    text-align: center;
    padding: 10px;
  }
.main_ hr{
    width:40%;
    margin: 5px auto;
    color: black;
    border-width: 3px;
    margin-bottom: 10px;
}
.cleft{
    width:70%;
    padding-right: 20px;
}
.cright{
    width:25%;
    font-size: 20px;
}
.cright span{
    font-weight: bold;
}
.cright a{
    text-decoration: underline;
    color:rgb(3, 3, 113);
}
/* CSS for contact form */
#tarea, #tarea textarea{
    width: 100%;
}

/* about page */
/* */
.about >div{
    padding-left: 20px;
    width: 33%;
}
.about >div >img{
    width:100%;
}
.about >div >h2{
    text-align: center;
    text-transform: uppercase;
}

/* for small screens */
@media screen and (max-width: 500px) {
    .main_blog{
        width:100%;
    }
    .main_container {
        flex-direction: column;
    }
    .main_container div img{
        width: 100%;
    }
    .cleft, .cright, .ileft, .iright{
        width: 100%;
    }
  }

 